# Data preparation for the UN SDG Indicators

### We use UN SDG's data set and convert this data set, so every country, continent, etc. is in a separate <code>csv</code> file.

To get started, we download the entire available data from https://unstats.un.org/sdgs/indicators/database/ and call it <code>un_data.csv</code>.


Let's load the data set and look at its columns and rows to figure out how it is structured.


**We aim to have one pandas data frame per country, with all indicators. We save them as separate <code>csv</code> files.**

Let's start with the usual imports and loading the data set.

In [1]:
import numpy as np
import pandas as pd
import math
import os

In [2]:
# loading data set
all_data = pd.read_csv('un_data.csv', dtype=object)
all_data.tail()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,[Name of non-communicable disease],[Quantile],[Reporting Type],[Sex],[Tariff regime (status)],[Type of mobile technology],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
1083970,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,894,Zambia,2012,75.97718,2012,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083971,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,894,Zambia,2013,84.15022,2013,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083972,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,894,Zambia,2014,124.97344,2014,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083973,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,894,Zambia,2015,93.49433,2015,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083974,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,894,Zambia,2016,94.33974,2016,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data set is structured by indicators and years in rows in one large data frame with all countries. We would like to have one data frame per country. Hence, we first extract the names of *regional groupings*, i.e. countries, continents, etc., and the names of so-called *other groupings*.

According to the UN Statistics Division, other groupings include Least Developed Countries (LDC), Land Locked Developing Countries (LLDC), Small Island Developing States (SIDS), Developed Regions, and Developing Regions. 

Developing Regions are Latin America and the Caribbean, South-Eastern Asia, Southern Asia, Southern Asia (excluding India), Caucasus and Central Asia, Eastern Asia (excluding Japan and China), Western Asia (exc. Armenia, Azerbaijan, Cyprus, Israel and Georgia), Eastern Asia (excluding Japan), Oceania (exc. Australia and New Zealand), Sub-Saharan Africa (inc. Sudan), and Northern Africa (exc. Sudan).

**All these groupings can be subject to separate network analyses of the indicators later on.**




Let's first see all different columns of our data frame before we only see these different groupings.

In [3]:
list(all_data)

['Goal',
 'Target',
 'Indicator',
 'SeriesCode',
 'SeriesDescription',
 'GeoAreaCode',
 'GeoAreaName',
 'TimePeriod',
 'Value',
 'Time_Detail',
 'Source',
 'FootNote',
 'Nature',
 'Units',
 '[Age]',
 '[Bounds]',
 '[Cities]',
 '[Education level]',
 '[Freq]',
 '[Hazard type]',
 '[IHR Capacity]',
 '[Level/Status]',
 '[Location]',
 '[Migratory status]',
 '[Mode of transportation]',
 '[Name of international institution]',
 '[Name of non-communicable disease]',
 '[Quantile]',
 '[Reporting Type]',
 '[Sex]',
 '[Tariff regime (status)]',
 '[Type of mobile technology]',
 '[Type of occupation]',
 '[Type of product]',
 '[Type of skill]',
 '[Type of speed]']

We have even lots of information on a sub-indicator level and this might be subject to more detailed analyses later on. We could, e.g., indicator 4.6.1* explore by disparate age goups and by sex.

\* *Indicator 4.6.1: Proportion of population in a given age group achieving at least a fixed level of proficiency in functional (a) literacy and (b) numeracy skills, by sex.*


We keep this possibility open, but now, let's not go further into a sub-indicator level and see the different groupings.

In [4]:
groupings = all_data['GeoAreaName'].unique()
groupings.tolist()

['World',
 'Albania',
 'Algeria',
 'Angola',
 'Azerbaijan',
 'Argentina',
 'Australia',
 'Austria',
 'Bangladesh',
 'Armenia',
 'Belgium',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Belize',
 'Solomon Islands',
 'Bulgaria',
 'Myanmar',
 'Burundi',
 'Belarus',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Central African Republic',
 'Sri Lanka',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Democratic Republic of the Congo',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Benin',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Ethiopia',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'Djibouti',
 'Gabon',
 'Georgia',
 'Gambia',
 'State of Palestine',
 'Germany',
 'Ghana',
 'Kiribati',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 "Côte d'Ivoire",
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Jordan',
 'Kenya',
 'Republic of Korea',
 'Kosovo',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Lesotho',
 'Latvia',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Republic of Moldova',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'Vanuatu',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Micronesia (Federated States of)',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Portugal',
 'Guinea-Bissau',
 'Timor-Leste',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Viet Nam',
 'Slovenia',
 'South Africa',
 'Zimbabwe',
 'Spain',
 'South Sudan',
 'Sudan',
 'Suriname',
 'Eswatini',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'The former Yugoslav Republic of Macedonia',
 'Egypt',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Burkina Faso',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Samoa',
 'Yemen',
 'Zambia',
 'Afghanistan',
 'Oceania',
 'Northern Africa',
 'Northern America',
 'Eastern Asia',
 'Southern Asia',
 'South-Eastern Asia',
 'Australia and New Zealand',
 'Central and Southern Asia',
 'Cambodia',
 'Central Asia',
 'Western Asia',
 'Europe',
 'Cuba',
 'Least Developed Countries (LDCs)',
 'Sub-Saharan Africa',
 'Equatorial Guinea',
 'Eritrea',
 "Democratic People's Republic of Korea",
 'Latin America and the Caribbean',
 'Landlocked developing countries (LLDCs)',
 'Europe and Northern America',
 'Oceania (exc. Australia and New Zealand)',
 'Philippines',
 'Serbia',
 'Somalia',
 'Small island developing States (SIDS)',
 'Northern Africa and Western Asia',
 'Eastern and South-Eastern Asia',
 'Palau',
 'Poland',
 'South America',
 'Western Africa',
 'Central America',
 'Eastern Africa',
 'Middle Africa',
 'Southern Africa',
 'Caribbean',
 'Southern Europe',
 'Melanesia',
 'Polynesia',
 'Asia',
 'Eastern Europe',
 'Northern Europe',
 'Western Europe',
 'New Zealand',
 'Antigua and Barbuda',
 'Bermuda',
 'Qatar',
 'Anguilla',
 'Liechtenstein',
 'Aruba',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Brunei Darussalam',
 'Dominica',
 'Grenada',
 'China, Macao Special Administrative Region',
 'Oman',
 'Nauru',
 'Marshall Islands',
 'Saint Kitts and Nevis',
 'Saint Vincent and the Grenadines',
 'Andorra',
 'New Caledonia',
 'Isle of Man',
 'British Virgin Islands',
 'Niue',
 'United Arab Emirates',
 'American Samoa',
 'Cook Islands',
 'French Polynesia',
 'Guam',
 'Kuwait',
 'Northern Mariana Islands',
 'Tokelau',
 'Wallis and Futuna Islands',
 'Holy See',
 'China, Hong Kong Special Administrative Region',
 'Monaco',
 'Puerto Rico',
 'San Marino',
 'Saudi Arabia',
 'Singapore',
 'Turks and Caicos Islands',
 'Africa',
 'Americas',
 'Micronesia',
 'Southern Asia (excluding India)',
 'Caucasus and Central Asia',
 'Eastern Asia (excluding Japan and China)',
 'Western Asia (exc. Armenia, Azerbaijan, Cyprus, Israel and Georgia)',
 'Developed regions (Europe, Cyprus, Israel, Northern America, Japan, Australia & New Zealand)',
 'Developing regions',
 'Eastern Asia (excluding Japan)',
 'Sub-Saharan Africa (inc. Sudan)',
 'Northern Africa (exc. Sudan)',
 'Other non-specified areas',
 'Libya',
 'Faroe Islands',
 'Falkland Islands (Malvinas)',
 'French Guiana',
 'Greenland',
 'Guadeloupe',
 'Martinique',
 'Montserrat',
 'Réunion',
 'United States Virgin Islands',
 'International Centers (FAO)',
 'Regional Centres (FAO)',
 'Mayotte',
 'Cayman Islands',
 'Netherlands Antilles',
 'Curaçao',
 'Sint Maarten (Dutch part)',
 'Bonaire, Sint Eustatius and Saba',
 'Serbia and Montenegro [former]',
 'Gibraltar',
 'Sudan [former]',
 'Saint Pierre and Miquelon',
 'Channel Islands',
 'British Indian Ocean Territory',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'South Georgia and the South Sandwich Islands',
 'Åland Islands',
 'French Southern Territories',
 'Heard Island and McDonald Islands',
 'Norfolk Island',
 'United States Minor Outlying Islands',
 'Pitcairn',
 'Saint Barthélemy',
 'Saint Helena',
 'Saint Martin (French Part)',
 'Western Sahara',
 'Svalbard and Jan Mayen Islands',
 'Guernsey',
 'Jersey',
 'European Union',
 'Bouvet Island',
 'Antarctica',
 ' Iraq (Central Iraq) ',
 'Iraq (Kurdistan Region)',
 'United Kingdom (England and Wales)',
 'United Kingdom (Northern Ireland)',
 'United Kingdom (Scotland)',
 'European Union (EU) Institutions']

We convert the data set into multiple small data sets by creating a dictionary that contains the groupings' names as keys. 

First, we create empty data frames for each key.

In [8]:
dict_all = {group: pd.DataFrame() for group in groupings}

In [9]:
# check, should be empty
dict_all.get('Belize')

Empty DataFrame
Columns: []
Index: []

Second, we replace each of the empty data frames with the data we have available for them. Note, that our dictionary will be the ensamble of all groupings.

In [10]:
for group in groupings:    # memory-intensive
    dict_all[group] = all_data[all_data['GeoAreaName'].isin(['{}'.format(group)])]

In [11]:
# check
dict_all['Belize']

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,[Name of non-communicable disease],[Quantile],[Reporting Type],[Sex],[Tariff regime (status)],[Type of mobile technology],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
158,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1993,10.1,1993,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1994,9.9,1994,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1996,13.3,1996,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1997,16,1997,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1998,15.1,1998,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,84,Belize,1999,14.9,1999,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10809,1,1.3,1.3.1,SI_COV_LMKT,[World Bank] Proportion of population covered ...,84,Belize,2009,5.7211,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10966,1,1.3,1.3.1,SI_COV_LMKTPQ,[World Bank] Poorest quintile covered by labou...,84,Belize,2009,4.08667,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11246,1,1.3,1.3.1,SI_COV_PENSN,[ILO] Proportion of population above statutory...,84,Belize,2011,64.6,NaN,...,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN
11513,1,1.3,1.3.1,SI_COV_SOCAST,[World Bank] Proportion of population covered ...,84,Belize,2009,16.27566,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11800,1,1.3,1.3.1,SI_COV_SOCASTPQ,[World Bank] Poorest quintile covered by socia...,84,Belize,2009,18.49964,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12085,1,1.3,1.3.1,SI_COV_SOCINS,[World Bank] Proportion of population covered ...,84,Belize,2009,28.18954,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12354,1,1.3,1.3.1,SI_COV_SOCINSPQ,[World Bank] Poorest quintile covered by socia...,84,Belize,2009,29.36916,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12845,1,1.3,1.3.1,SI_COV_WKINJRY,[ILO] Proportion of employed population covere...,84,Belize,2009,67.4,NaN,...,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN
13174,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2005,0,2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13175,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2007,16,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13176,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2008,9232,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13177,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2009,120,2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13178,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2010,8829,2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13179,1,1.5,1.5.1,VC_DSR_AFFCT,Number of people affected by disaster (number),84,Belize,2011,0,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14599,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2005,0.0000000,2005,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14600,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2007,0.0000000,2007,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14601,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2008,0.0000000,2008,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14602,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2008,0.0000000,2008,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14603,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2008,1155.0205082,2008,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14604,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2009,0.0000000,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14605,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2009,0.0000000,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14606,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2010,0.0000000,2010,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14607,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2010,0.0000000,2010,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14608,1,1.5,1.5.2,VC_DSR_AGLH,Direct agriculture loss attributed to disaster...,84,Belize,2010,0.7431865,2010,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077542,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2004,9.8,2004,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077543,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2005,17.0,2005,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077544,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2006,24.0,2006,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077545,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2007,24.6,2007,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077546,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2008,26.3,2008,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077547,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2009,27.2,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077548,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2010,28.2,2010,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077549,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2011,30.7,2011,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077550,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2012,31.0,2012,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077551,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2013,33.6,2013,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077552,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2014,38.7,2014,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077553,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2015,41.6,2015,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077554,17,17.8,17.8.1,IT_USE_ii99,Internet users per 100 inhabitants,84,Belize,2016,44.6,2016,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081470,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2000,17.1923,2000,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081471,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2001,16.60335,2001,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081472,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2002,0.73903,2002,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081473,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2003,0.96867,2003,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081474,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2004,1.03661,2004,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081475,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2005,1.8599,2005,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081476,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2006,2.00749,2006,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081477,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2007,1.99055,2007,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081478,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2008,1.45666,2008,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081479,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2009,7.76814,2009,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081480,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2010,3.04773,2010,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081481,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2011,4.39997,2011,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081482,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2012,12.58099,2012,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081483,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2013,16.74809,2013,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081484,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2014,8.92808,2014,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081485,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2015,7.40586,2015,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081486,17,17.9,17.9.1,DC_FTA_TOTAL,Total official development assistance (gross d...,84,Belize,2016,6.36148,2016,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, we have one data frame per country. The next step is to have years as columns.

The next cell gives us the series codes in the rows and the years in the columns. These series codes are unique descriptions of the sub-indicators and we match these series codes to indicators and all other information in a different data frame.

In [12]:
for group in groupings:
    dict_all[group] = dict_all.get(group).pivot_table(values='Value', index=['SeriesCode'], columns='TimePeriod', dropna=False, aggfunc='first')

In [13]:
# check
dict_all['Guam'].head()

TimePeriod,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
SeriesCode,,,,,,,,,,,,,,,,,,,,,
AG_LND_FRST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.3,NaN,...,NaN,46.3,NaN,NaN,NaN,NaN,46.3,NaN,NaN,NaN
AG_LND_FRSTBIOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.8,NaN,...,NaN,2.8,NaN,NaN,NaN,NaN,2.8,NaN,NaN,NaN
AG_LND_FRSTBIOPHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112,NaN,...,NaN,112,NaN,NaN,NaN,NaN,112,NaN,NaN,NaN
AG_LND_FRSTCERT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN
AG_LND_FRSTCHG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN

Let's now save a data frame with all of the meta-information. We delete the columns which are specific in area and time, and of course we do not want to have the values in this data frame. In the end, we delete all duplicate entries in the column **SeriesCode**. So, we are left with the information we wanted: mapping the series codes to the indicators, the Source for the data, the Units measured in, etc.

In [14]:
info = all_data.drop(columns=['GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail']).drop_duplicates(subset='SeriesCode')

In [15]:
# check
info.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,Source,FootNote,Nature,Units,[Age],...,[Name of non-communicable disease],[Quantile],[Reporting Type],[Sex],[Tariff regime (status)],[Type of mobile technology],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,"World Bank, Development Research Group. Data a...",World aggregate.,G,PERCENT,NaN,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,1,1.1,1.1.1,SI_POV_EMP1,Employed population below international povert...,"ILO estimates, November 2017, available in ILO...",NaN,M,PERCENT,15-24,...,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN
9703,1,1.2,1.2.1,SI_POV_NAHC,Proportion of population living below the nati...,"Source: World Development Indicators database,...",Source: Central Statistic Organization (CSO) ...,CA,PERCENT,NaN,...,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10476,1,1.3,1.3.1,SI_COV_BENFTS,[ILO] Proportion of population covered by at l...,ILO estimates based on country data compled th...,NaN,E,PERCENT,NaN,...,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN
10581,1,1.3,1.3.1,SI_COV_CHLD,[ILO] Proportion of children/households receiv...,ILO estimates based on country data compled th...,NaN,E,PERCENT,NaN,...,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN,NaN,NaN

We should save all countries as different <code>csv</code> files.

In [16]:
for group in groupings:
    dict_all[group].to_csv(r'csv/{}.csv'.format(group))

Having the information file might also be helpful.

In [17]:
info.to_csv(r'info.csv')